@font-face {
  font-family: 'still-time';
  src: url("./fonts/still-time.otf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'still-time';
  text-transform: uppercase;
}

h3{
  font-size: 33px;
  margin-left: 5%;
  letter-spacing: 1px;
}